<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item mr-6" href="/">
      AGENDA
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if(user) { %> 
        <a class="navbar-item" href="/contatos">
          Cadastrar contatos
        </a>
      <% } %> 
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if(!user) { %> 
            <a class="button is-primary" href="/cadastro">
              <strong>Criar conta</strong>
            </a>
            <a class="button is-light" href="/login">
              Entrar
            </a>
          <% } else { %> 
            <form action="/logout">
              <button class='button logout is-danger'>Sair</button>
            </form>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
</nav>


<style>
  .logout {
    width: 100px;
  }
</style>
<script>
  let path = window.location.pathname;
  $('a').each(function () {
    let current_path = $(this).attr('href')
    if(current_path == path && current_path != '/') {
      $(this).addClass("is-hidden");
    }
  });
</script>