<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<section class="container">
  <div class="columns">
    <div class="column is-8" style="margin: 40px auto;">
        <h1 class="is-size-3 has-text-centered">ERRO 404!</h1>
        <p class="has-text-centered">A página que você procura não existe!</p>
    </div>
  </div>
</section>

<%- include('includes/footer'); %>

