<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<link rel="stylesheet" href="../assets/agenda/index.scss">

<main class="global-lp">
  <section class="container">
    <div class="columns is-multiline">
      <div class="column is-12 is-hidden">
        <div class="has-text-centered notification is-danger is-light">Um erro qualquer</div>
      </div>
      <div class="column is-12 mt-3">
          <h1 class="is-size-3 has-text-centered">Agenda</h1>
          <p class="has-text-centered">Seus contantos estão abaixo</p>
      </div>
      <div class="column is-12">
        <table class="table" style="margin: 20px auto">
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main>

<%- include('includes/footer'); %>