<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<main class="global-lp">
  <section class="container" style="max-width: 35rem;">
    <%- include('includes/messages'); %>
    <div class="columns is-multiline">
      <div class="column is-12 mt-3">
        <h1 class="is-size-3 has-text-centered">Agenda</h1>
        <p class="has-text-centered">Seus contantos estão abaixo</p>
      </div>
      <div class="column is-12">
        <table class="table" style="margin: 20px auto">
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71997193629</td>
            <td>luizotaviomiranda@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main>

<%- include('includes/footer'); %>