<%- include('../includes/head'); %>
<%- include('../includes/nav'); %>

<main class="global-lp">
  <div class="columns is-multiline">
    <div class="column is-12 is-hidden">
      <div class="has-text-centered notification is-danger is-light">Um erro qualquer</div>
    </div>
    <div class="column is-12 mt-3">
      <h1 class="is-size-3 has-text-centered">Criar conta</h1>
      <p class="has-text-centered">Preencha os campos abaixo para criar uma conta.</p>
    </div>
  </div>
  <section class="container contact-container">
    <form action="/cadastro/new" method="post">
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      <div class="columns is-multiline is-mobile login">
        <div class="column is-12">
          <label for="email" class="label">Email:</label>
          <div class="control has-icons-left">
            <input type="email" class="input" name="email" id="email" required>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="column is-12">
          <label for="password" class="label">Senha:</label>
          <div class="control">
            <input type="password" class="input" name="password" id="password" required>
          </div>
        </div>
        <div class="column is-12">
          <button class="button is-fullwidth is-success" type="submit">Entrar</button>
        </div>
      </div>
      <a href="/login">Já possuo uma conta</a>
    </form>
  </section>
</main>

<style>
  .contact-container {
    max-width: 35rem !important;
  }
</style>

<%- include('../includes/footer'); %>